.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 152px;

    p {
        color: #a9a9a9;
        font-size: 16px;
        font-weight: 400;
    }

    .footer__socials{
        display: flex;
        gap: 20px;

        .footer__social {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #484e53;
            color: #484e53;
            transition: 0.5s;

            &:hover {
                color: #dedede;
                border: 1px solid #1e90ff;
            }
        }
    }
}